
.farm{
    text-align: center;
 height: 560px;
   background-color: blue;
border-radius: 20px;
}
.span{
    background-color: blue;
    text-align: center;
}
.Ragab :hover{
    background-color:yellow;
    transform: scale(1.1);
}
.fff{
    background-color: blue;
    
}
.ttt :hover{
    background-color:yellow;
    transform: scale(1.1);
    color: white;
    background-color: blueviolet;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.50s ease;
    text-align: center;
}
.ttt{
    text-align: center;
}