@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

*{
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}
header{
    background-color: blue;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: yellow;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: yellow;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
padding-left: 30px;

}
.navigation a:hover{
    color: white;
}
.section{
    padding:200px 400px;
}
.main{
    width: 100%;
    min-height: 100hv;
    display: flex;
    align-items: center;
    background: url(background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
background-attachment: fixed;
height: 650px;

}
.main h2{
    color: aqua;
    font-size: 1.4em;
    font-weight: 500;

}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: blueviolet;
    font-size: 3em;
    font-weight: 600;
}
.main h3 {
    color: blanchedalmond;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: white;
    background-color: blueviolet;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.10s ease;

}
.main-btn:hover{
    background-color:yellow;
    transform: scale(1.1);
}
.social-icons{
    color: whitesmoke;
    font-size: 1.7em;
    padding-right: 30px;
}
